.button_link{
    text-decoration: none;
    margin-bottom: 25px;
    .button{
        color: white;
        background-color: var(--main-color);
        padding: 16px 24px;
        font-size: 18px;
        border-radius: var(--border-radius-button);
        border:none;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
        width: 314px;
        height: 70px;
    }

}