:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;
  --border-radius-button: 32px;

  /**  Основные цвета */
  --main-color: #FA4A0C;
  --background-color: #F2F2F2;
  --background-color-header: #FF4B3A;

  --gray-90: #E6E6E6;

  /**  Шрифты */
  --font-family-title: "Semibold";
}