<main class="main">
    <div class="container">
        <span class="text">
        Food for everyone
       </span>
       <div class="back">
        <div class="human">
            <img class="human_img" src="./assets/images/human.webp">
        </div>
        <div class="grad">
            
        </div>
        <div class="grad_two">
            
        </div>
       </div>
    @@include('../components/_button.html', {
        "href":"loginPage.html",
        "title":"Get starteed",
    })
    </div>
</main>